.post{
    width: 450px;
    border: 2px solid grey;
    margin-bottom: 15px;
    border-radius: 16px;
}

.post-header{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
}
.post-cover{
    width: 100%;
    height: 50vh;
    padding-top: 20px;
}
.post-cover img{
    width: 100%;
    height: inherit;
}
.post-text{
    font-size: 13px;
    font-weight: 500;
}
.post-bottom{
    padding: 10px;
}
.post-delete{
    display: flex;
    justify-content: flex-end;
    color: red;
    cursor: pointer;
}