.modal-inner{

    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
    height: 40vh;

}

.modal-inner-input{
    width: 100%;
    padding:7px 0px 7px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-top: 16px;
    border-radius: 10px;
}
.modal-inner-input input{
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}
.modal-button{
    margin-top: 30px;
    
    background-color: white;
    padding: 10px 13px 10px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}